<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "エラー") %> この記事を保存できません！</h2>

      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="area-form">
    <p class="label"><%= form.label :タイトル %></p>
    <p class="label"><%= form.text_field :title, placeholder:"タイトル" %></p>
  </div>

  <div class="area-form">
    <p class="label"><%= form.label :内容 %></p>
    <p class="label"><%= form.text_area :content,placeholder:"内容" %></p>
  </div>

  <div class="area-form">
    <p class="label"><%= form.label :写真 %></p> 
    <p class="label"><%= form.file_field :image %></p>
  </div>

  <div class="area-form">
    <p class="label"><%= form.label :国 %></p>
    <p class="label"><%= form.text_field :country, placeholder:"国" %></p>
  </div>

  <div class="area-form">
    <p class="label"><%= form.label :住所 %></p>
    <p class="label"><%= form.text_field :address, placeholder:"住所" %></p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <br>
<% end %>
<br>
  
