<div class="search_wrap">
  <h2 class="search_title">Travel Information </h2>
  <div class="search_box" >
    <%= search_form_for @q do |f| %>
    <%= f.label :title_or_country, "キーワード検索" %>
    <%= f.search_field :title_or_country_cont %>

    <%= f.submit "検索" %>
    <% end %>
  </div>
</div>
<br>
  <br>
    <% @articles.each do |article| %>
      <li class="flex">
        <p class="img">
         <%= image_tag article.image.url,style:'width:200px;height:200px' %>
        </p>
        <div class="right item">
          <p class="articl_country"><%= article.country %></p>
          <h3 class="articl_title"><%= article.title %></h3>
          <div class="data_group">
            <p class="articl_text content">内容:<%= article.content %></p>
          <div class="sub_text">
            <p class="articl_text articl_user"><%= link_to "#{article.user.name}", user_path(article.user.id) %></p>
            <p class="articl_text articl_show"><%= link_to 'Show', article_path(article.id) %></p>
          </div>
        </div>
      </li>
    <% end %>
<br>
  <br>
    <%= paginate @articles %>
    <br>
  <br>
<br>
<br>
<br>
