<h1>詳細ページ</h1>
<h2 class="detail_title">
  <%= @article.title %>
</h2>
<p class="detail_img">
  <%= image_tag @article.image.url,style:'width:780px;height:auto; border-radius:6px; border:8px solid #f3f4f7;' %>
</p>
<dl class="detai_wrap">
  <dt class="detail_content">Content</dt>
  <dd class="contents"><%= @article.content %></dd>
  <dt class="detail_content">Country</dt>
  <dd class="contents"><%= @article.country %></dd>
  <dt class="detail_content">User</dt>
  <dd class="contents"><%= @article.user.name %></dd>
</dl>
<div class="fav">
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @article.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(article_id: @article.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
  <button type="button" class="btn btn-dark"><%= link_to 'Back', articles_path %></button>
</div> 
<h3 class="map_title">Map</h3>
<div class="google_map">
  <script type="text/javascript">
     function initMap() {
       var test = {lat: <%= @article.latitude %>, lng: <%= @article.longitude %>};
       var map = new google.maps.Map(document.getElementById('map'), {
                 zoom: 12,
                 center: test
                 });
       var transitLayer = new google.maps.TransitLayer();
       transitLayer.setMap(map);
       var contentString = '住所：<%= @article.address %>';
       var infowindow = new google.maps.InfoWindow({
         content: contentString
       });
       var marker = new google.maps.Marker({
                     position:test,
                     map: map,
                     title: contentString
                   });
       marker.addListener('click', function() {
         infowindow.open(map, marker);
       });
     }
  </script>
    <script async defer
             src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
    </script>
    <style type="text/css">
     #map { height: 400px;
           width: 780px;}
    </style>
      <div id="map">
      </div>

<br>
  <br>
    
